include ../icon/iconElement

ul.blog-post__reaction-list
    li.blog-post__reaction-item
        form.blog-post__like-reaction-form
            +iconElement(
                'button',
                '/images/likeIcon.png',
                blogPost.likes,
                { 
                    'type': 'submit',
                    'class': [
                        'blog-post__like-button',
                        '-padding-even-small',
                        '-column'
                    ]
                }
            )
            input(
                name='reaction-type' 
                type='hidden'
                value='Like'
            )

    li.blog-post__reaction-item
        form.blog-post__dislike-reaction-form
            +iconElement(
                'button',
                '/images/dislikeIcon.png',
                blogPost.dislikes,
                { 
                    'type': 'submit',
                    'class': [
                        'blog-post__dislike-button',
                        '-padding-even-small',
                        '-column'
                    ]
                }
            )
            input(
                name='reaction-type' 
                type='hidden'
                value='Dislike'
            )
    li.blog-post__reaction-item
        +iconElement(
            'a',
            '/images/commentIcon.png',
            blogPost.comments.length,
            { 
                'href': '#comment-section-heading',
                'class': [
                    '-padding-even-small',
                    '-button',
                    '-column'
                ],
                
            }
        )