include ../list/iconList

mixin blogCard(blog)
  .blog-card&attributes(attributes)
    .blog-card__stat-list
      +iconList(
        {
          'icon': '/images/likeIcon.png',
          'label': blog.likes
        },
        {
          'icon': '/images/dislikeIcon.png',
          'label': blog.dislikes
        },
        {
          'icon': '/images/commentIcon.png',
          'label': blog.comments.length
        }
      )(class='-column -small')
    .blog-card__overview
      .blog-card__author-date
        .blog-card__author-details
          .blog-card__avatar
            img(src='/images/profileIcon.png')
          .blog-card__username= blog.author.name
        .blog-card__date= blog.publish_date
      .blog-card__content-overview
        h1.blog-card__title= blog.title
        p.blog-card__preview= blog.content
        .blog-card__keywords-container
          .blog-card__keywords-heading Keywords:
          .blog-card__keywords= blog.keywords.join(' | ')