include ../list/iconList

mixin blogPostCard(blogPost, attrs={})
  .blog-post-card&attributes(attrs)
    .blog-post-card__stat-list
      +iconList(
        [{
          'icon': '/images/likeIcon.png',
          'label': blogPost.likes
        },
        {
          'icon': '/images/dislikeIcon.png',
          'label': blogPost.dislikes
        },
        {
          'icon': '/images/commentIcon.png',
          'label': blogPost.comments.length
        }],
        {
          'class': '-column -small -center'
        }
      )
    .blog-post-card__overview
      .blog-post-card__author-date
        .blog-post-card__author-details
          .blog-post-card__avatar
            img(src='/images/profileIcon.png')
          .blog-post-card__username= blogPost.author.username
        .blog-post-card__date= blogPost.publish_date
      .blog-post-card__content-overview
        h1.blog-post-card__title= blogPost.title
        p.blog-post-card__preview= blogPost.content
        .blog-post-card__keywords-container
          .blog-post-card__keywords-heading Keywords:
          .blog-post-card__keywords= blogPost.keywords.join(' | ')