include ../list/iconElementList
include ../icon/iconElement

mixin commentCard(comment, isReply=false, attrs={})
    .comment-card(id=comment._id)&attributes(attrs)
        .comment-card__author-date 
            .comment-card__author-details
                - const author = comment.author
                - let profileIcon = '/images/profileIcon.png'

                if author.profile_pic
                    - const pic = author.profile_pic
                    - const base64 = pic.data.toString('base64')
                    - profileIcon = `data:${pic.contentType};base64,${base64}`

                +iconElement(
                    'a',
                    profileIcon,
                    author.username,
                    {
                        'href': `/users/${author.username}`,
                        'class': [
                            '-avatar',
                            '-gap-small'
                        ]
                    }
                )
            .comment-card__date= comment.publish_date
        p.comment-card__content= comment.content
        .comment-card__toolbar
            - 
                const iconElements = [
                    {
                        'tag': 'button',
                        'icon': '/images/likeIcon.png',
                        'label': comment.likes,
                        'attrs': {
                            'class': `comment-card__like-button`,
                        }
                    },
                    {
                        'tag': 'button',
                        'icon': '/images/dislikeIcon.png',
                        'label': comment.dislikes,
                        'attrs': {
                            'class': `comment-card__dislike-button`,
                        }
                    }
                ]
            
            if !isReply
                -
                    iconElements.push({
                        'tag': 'button',
                        'icon': '/images/commentIcon.png',
                        'label': comment.replies.length,
                        'attrs': {
                            'class': `comment-card__view-replies-button`
                        }
                    })
            
            +iconElementList(
                iconElements,
                {
                    'iconElement': {'class': '-small' }
                }
            )

            // prevent replying to a reply
            if !isReply
                button(class=`comment-card__reply-button`) Reply
