include ../list/iconElementList
include ../icon/iconElement

mixin commentCard(comment, isReply=false, attrs={})
    article.comment-card&attributes(attrs)
        .comment-card__author-date 
            .comment-card__author-details
                - let author = comment.author
                - let profileIcon = icons.profileIcon

                if author
                    if author.profile_pic
                        - const pic = author.profile_pic
                        - const base64 = pic.data.toString('base64')
                        - profileIcon = `data:${pic.contentType};base64,${base64}`

                    +iconElement(
                        'a',
                        profileIcon,
                        author.username,
                        {
                            'href': `/users/${author.username}`,
                            'class': [
                                '-avatar',
                                '-gap-small'
                            ]
                        }
                    )
                else
                    +iconElement(
                        'div',
                        profileIcon,
                        'Anonymous',
                        {
                            'class': [
                                '-avatar',
                                '-gap-small'
                            ]
                        }
                    )
            time(
                datetime=comment.publish_date
            ).comment-card__date= comment.publish_date
        p.comment-card__content= comment.content
        .comment-card__toolbar
            form(
                method='post'
                enctype='multipart/form-data'
            ).comment-card__like-reaction-form
                +iconElement(
                    'button',
                    icons.likeIcon,
                    comment.likes,
                    {
                        'type': 'submit',
                        'class': [
                            `comment-card__like-button`,
                            '-small',
                            '-gap-small',
                            '-padding-burger-small'
                        ]
                    }
                )
                input(
                    name='reaction-type' 
                    type='hidden'
                    value='Like'
                )
                input(
                    name='content-id'
                    type='hidden'
                    value=comment._id
                )
                input(
                    name='content-type'
                    type='hidden'
                    value='Comment'
                )
            form(
                method='post'
                enctype='multipart/form-data'
            ).comment-card__dislike-reaction-form
                +iconElement(
                    'button',
                    icons.dislikeIcon,
                    comment.dislikes,
                    {
                        'type': 'submit',
                        'class': [
                            `comment-card__dislike-button`,
                            '-small',
                            '-gap-small',
                            '-padding-burger-small'
                        ]
                    }
                )
                input(
                    name='reaction-type' 
                    type='hidden'
                    value='Dislike'
                )
                input(
                    name='content-id'
                    type='hidden'
                    value=comment._id
                )
                input(
                    name='content-type'
                    type='hidden'
                    value='Comment'
                )
            
            if !isReply
                +iconElement(
                    'button',
                    icons.commentIcon,
                    comment.replies.length,
                    {
                        'class': [
                            `comment-card__view-replies-button`,
                            '-small',
                            '-gap-small',
                            '-padding-burger-small'
                        ]
                    }
                )
                button(class=`comment-card__reply-button`) Reply