mixin formInput(name, type, value, errors)
    .form-input&attributes(attributes.formInput)
        - const labelWords = name.split('-')
        each word, index in labelWords
            - labelWords[index] = word[0].toUpperCase() + word.slice(1)

        label.form-input__label(
            for=name
        )= labelWords.join(' ')
        input.form-input__input(
            id=name
            name=name 
            type=type
            value=value
        )&attributes(attributes.input)
        if errors.length
            .form-input__error-container
                each error in errors
                    .form-input__error= error