mixin loggingForm(action, errors={})
    form.logging-form(action=action method="POST")
        .logging-form__input-container    
            label.logging-form__label(for="username") Username
            input#username.logging-form__input(
                name="username" 
                type="text" 
                required 
            )
        
        if errors.username
            .logging-form__error= errors.username
        
        .logging-form__input-container
            label.logging-form__label(for="password") Password
            input#password.logging-form__input(
                name="password" type="password"
            )
        
        if errors.password 
            .logging-form__error= errors.password
        else if errors.login
            .logging-form__error= errors.login

        if block 
            block
        
        button.logging-form__submit Submit