extends ../layouts/browser 
include ../components/link/iconLink
include ../components/card/blogPostCard
include ../components/card/commentCard
include ../components/form/formTextarea


block page
    - const {title, blogPost} = data

    .blog-post-page
        .blog-post
            h1.blog-post__title= title
            .blog-post__metadata
                .blog-post__author-details
                    - const author = blogPost.author
                    - let profileIcon = '/images/profileIcon.png'

                    if author.profile_pic
                        - const profilePic = author.profile_pic
                        - const profilePicBase64 = profilePic.data.toString('base64')
                        - profileIcon = `data:${profilePic.contentType};base64,${profilePicBase64}`

                    +iconLink(
                        profileIcon,
                        `/users/${author.username}`,
                        author.username,
                        {
                            'class': ['-avatar', '-larger']
                        }
                    )

                include ../components/list/blogPostReactionList

                .blog-post__date= `Published on ${blogPost.publish_date}`
            
            - const thumbnail = blogPost.thumbnail
            - const thumbnailBase64 = thumbnail.data.toString('base64')
            - thumbnailImg = `data:${thumbnail.contentType};base64,${thumbnailBase64}`
            
            .blog-post__thumbnail
                img(src=thumbnailImg)
            .blog-post__content= blogPost.content
            .blog-post__post-blog-separator
                include ../components/list/blogPostReactionList
        
        h2.blog-post-page__post-blog-post-heading More Blogs
        .blog-post-card-pair
            +blogPostCard(
                blogPost, 
                {
                    'class': '-small'
                }
            )
            +blogPostCard(
                blogPost,
                {
                    'class': '-small'
                }
            )
        
        h2.blog-post-page__post-blog-post-heading Comments
        form.blog-post-page__comment-form.comment-form
            +formTextarea(
                'content',
                '',
                [],
                {
                    'textarea': {
                        'rows': '2',
                        'placeholder': 'Add a comment...',
                    }
                }
            )

        each comment in blogPost.comments
            .blog-post-page__comment
                +commentCard(comment)
            each reply in comment.replies 
                .blog-post-page__comment.blog-post-page__reply.-gone
                    +commentCard(reply, true)