extends ../layouts/author
include ../components/list/buttonList
include ../components/form/formInput
include ../components/form/formTextarea

block page
    - const {inputs, errors} = data

    - const titleErrors = []
    - const thumbnailErrors = []
    - const keywordErrors = []
    - const contentErrors = []

    each error in errors 
        if error.path === 'title'
            - titleErrors.push(error.msg)
        else if error.path === 'thumbnail'
            - thumbnailErrors.push(error.msg)
        else if error.path === 'keywords'
            - keywordErrors.push(error.msg)
        else if error.path === 'content' || error.path === 'word-count'
            - contentErrors.push(error.msg)

    .blog-form-page
        .blog-form-page__left
            .blog-form-page__heading Draft
            .blog-form-page__body
                +buttonList(
                    {
                        'classId': 'blog-form-metadata-tab',
                        'label': 'Metadata'
                    },
                    {
                        'classId': 'blog-form-content-tab',
                        'label': 'Content'
                    } 
                )(button='-tab')
                form#blog-form.blog-form(
                    action=`/users/${mainUser.username}/blogs`
                    method='post' 
                    enctype='multipart/form-data'
                )
                    .blog-form__metadata
                        +formInput(
                            'title',
                            'text',
                            inputs.title || '',
                            titleErrors
                        )(input={'required': ''})
                        +formInput(
                            'thumbnail',
                            'file',
                            '',
                            thumbnailErrors
                        )(input={'required': ''})
                        +formInput(
                            'keywords',
                            'text',
                            inputs.keywords || '',
                            keywordErrors
                        )(input={'required': ''})

                    .blog-form__content.-hidden
                        +formTextarea(
                            'content',
                            inputs.content || '',
                            contentErrors
                        )(
                            textarea={
                                'id': 'tinymce-app',
                                'class': 'tinymce-app'
                            }
                        )
                        input#word-count.blog-form__hidden(
                            name='word-count'
                            type='hidden'
                        )

        .blog-form-page__right
            .blog-form-page__heading Preview
            .blog-form-page__body
                .blog-preview
                    .blog-preview__metadata
                        .blog-preview__title
                        .blog-preview__thumbnail Your thumbnail appears here
                    .blog-preview__content