extends ../layouts/browser 
include ../components/icon/iconElement
include ../components/card/blogPostCard
include ../components/card/commentCard
include ../components/form/formTextarea


block page
    - const {title, blogPost} = data

    .blog-post-page
        .blog-post
            h1.blog-post__title= title
            .blog-post__metadata
                .blog-post__author-details
                    - const author = blogPost.author
                    - let profileIcon = '/images/profileIcon.png'

                    if author.profile_pic
                        - const profilePic = author.profile_pic
                        - const profilePicBase64 = profilePic.data.toString('base64')
                        - profileIcon = `data:${profilePic.contentType};base64,${profilePicBase64}`

                    +iconElement(
                        'a',
                        profileIcon,
                        author.username,
                        {
                            'href': `/users/${author.username}`,
                            'class': [
                                '-avatar', 
                                '-larger',
                                '-gap-medium'
                            ]
                        }
                    )

                include ../components/list/blogPostReactionList

                .blog-post__date= `Published on ${blogPost.publish_date}`
            
            - const thumbnail = blogPost.thumbnail
            - const thumbnailBase64 = thumbnail.data.toString('base64')
            - thumbnailImg = `data:${thumbnail.contentType};base64,${thumbnailBase64}`
            
            .blog-post__thumbnail
                img(src=thumbnailImg)
            .blog-post__content= blogPost.content
            .blog-post__post-blog-separator
                include ../components/list/blogPostReactionList
        .blog-post-page__more-blogs
            h2.blog-post-page__post-heading More Blogs
            .blog-post-card-pair
                a(href=`/blog-posts/${blogPost._id}`)
                    +blogPostCard(
                        blogPost, 
                        {
                            'class': '-small'
                        }
                    )
                a(href=`/blog-posts/${blogPost._id}`)
                    +blogPostCard(
                        blogPost,
                        {
                            'class': '-small'
                        }
                    )
        #comment-section.blog-post-page__comment-section
            h2.blog-post-page__post-heading Comments
            form(
                method='post'
                enctype='multipart/form-data'
            ).blog-post-page__comment-create-form
                +formTextarea(
                    'content',
                    '',
                    [],
                    {
                        'textarea': {
                            'rows': '2',
                            'placeholder': 'Add a comment...',
                        }
                    }
                )
                button(type='submit') Submit

            each comment in blogPost.comments
                .blog-post-page__comment-string
                    +commentCard(comment)
                
                    if comment.replies.length
                        .blog-post-page__reply-container.-gone
                            each reply in comment.replies
                                +commentCard(reply, true)