extends ../layouts/browser
include ../components/list/iconElementList
include ../components/form/formInput
include ../components/form/formTextarea
include ../components/list/buttonList

block page
    - const {title, user, isMainUser, inputs, errors} = data

    - const profilePicErrors = []
    - const usernameErrors = []
    - const bioErrors = []
    - const keywordErrors = []

    each error in errors 
        if error.path === 'profile-pic'
            - profilePicErrors.push(error.msg)
        else if error.path === 'username'
            - usernameErrors.push(error.msg)
        else if error.path === 'bio'
            - biorrors.push(error.msg)
        else if error.path === 'keywords'
            - keywordErrors.push(error.msg)
    
    - let updatingProfile = false 
    if Object.keys(inputs).length
        - updatingProfile = true
    
    .profile-page
        h1.profile-page__heading= title
        .profile
            .profile__primary
                .profile__avatar
                    
                    if user.profile_pic
                        - const pic = user.profile_pic
                        - const base64 = pic.data.toString('base64')
                        - const dataUri = `data:${pic.contentType};base64,${base64}`
                        img(src=dataUri)
                    else
                        img(src='/images/profileIcon.png')

                .profile__username= user.username
            .profile__secondary(
                class= updatingProfile ? '-gone' : ''
            )
                .profile__bio
                    .profile__heading Bio 
                    p.profile__body= user.bio || 'None'
                .profile__keywords
                    .profile__heading Favorite Keywords
                    
                    - let keywords = 'None'
                    if user.keywords && user.keywords.length
                        - keywords = user.keywords.join(' | ')
                    
                    p.profile__body= keywords
                
                if isMainUser
                    .profile__edit
                        button.profile__edit-button Edit Profile
            
            if isMainUser
                form.profile-form(
                    method='post' 
                    enctype='multipart/form-data'
                    class= updatingProfile ? '' : '-gone'
                )
                    +formInput(
                        'profile-pic',
                        'file',
                        '',
                        profilePicErrors
                    )
                    +formInput(
                        'username',
                        'text',
                        inputs.username || mainUser.username,
                        usernameErrors
                    )
                    +formTextarea(
                        'bio',
                        inputs.bio || mainUser.bio,
                        bioErrors,
                        {
                            'textarea': {
                                'rows': '5'
                            }
                        }
                    )
                    +formTextarea(
                        'keywords',
                        inputs.keywords || mainUser.keywords.join(' '),
                        keywordErrors,
                        {
                            'textarea': {
                                'rows': '2'
                            }
                        }
                    )
                    .profile-form__buttons
                        button.profile-form__submit(
                            type='submit'
                        ) Submit
                        button.profile-form__cancel(
                            type='button'
                        ) Cancel

            .profile__tertiary
                .profile__browser-details
                    .profile__heading Recent Reads
                    .profile__body
                        - const recentReads = user.blog_posts_recently_read
                        - const recentReadsIconElements = []

                        each blogPost in recentReads
                            - let icon = '/images/profileIcon.png'
                            - const pic = blogPost.author.profile_pic
        
                            if pic
                                - const base64 = pic.data.toString('base64')
                                - icon = `data:${pic.contentType};base64,${base64}`
                            - 
                                recentReadsIconElements.push(
                                    {
                                        'tag': 'a',
                                        'icon': icon,
                                        'label': blogPost.title,
                                        'attrs': {
                                            'href': `/blog-posts/${blogPost._id}`,
                                        }
                                    }
                                )

                        +iconElementList(
                            recentReadsIconElements,
                            {
                                'iconElementList': {
                                    'class': [
                                        '-column',
                                        '-gap-small',
                                        '-align-start'
                                    ]
                                },
                                'iconElement': {
                                    'class': [
                                        '-gap-small',
                                        '-avatar'
                                    ]
                                }
                            }
                        )
                
                if user.blog_posts_written.length
                    .profile__author-details
                        - let heading = `Blog Posts Written by ${user.username}`
                        
                        if isMainUser
                            - heading = 'Blog Posts Written by You'
                        
                        .profile__heading= heading
                        .profile__body
                            - const blogPostsWrittenIconElements = []

                            each blogPost in user.blog_posts_written
                                - let icon = '/images/profileIcon.png'
                                - const pic = mainUser.profile_pic
            
                                if pic
                                    - const base64 = pic.data.toString('base64')
                                    - icon = `data:${pic.contentType};base64,${base64}`
                                - 
                                    blogPostsWrittenIconElements.push(
                                        {
                                            'tag': 'a',
                                            'icon': icon,
                                            'label': blogPost.title,
                                            'attrs': {
                                                'href': `/blog-posts/${blogPost._id}`,
                                            }
                                        }
                                    )
                            +iconElementList(
                                blogPostsWrittenIconElements,
                                {
                                    'iconElementList': {
                                        'class': [
                                            '-column',
                                            '-gap-small',
                                            '-align-start'
                                        ]
                                    },
                                    'iconElement': {
                                        'class': [
                                            '-gap-small',
                                            '-avatar'
                                        ]
                                    }
                                }
                            )