extends ../layouts/browser
include ../components/list/iconLinkList
include ../components/form/formInput
include ../components/form/formTextarea
include ../components/list/buttonList

block page
    - const {title, user, isMainUser, inputs, errors} = data

    - const profilePicErrors = []
    - const usernameErrors = []
    - const bioErrors = []
    - const keywordErrors = []

    each error in errors 
        if error.path === 'profile-pic'
            - profilePicErrors.push(error.msg)
        else if error.path === 'username'
            - usernameErrors.push(error.msg)
        else if error.path === 'bio'
            - biorrors.push(error.msg)
        else if error.path === 'keywords'
            - keywordErrors.push(error.msg)
    
    .profile-page
        h1.profile-page__heading= title
        .profile
            .profile__user-details
                .profile__primary-user-details
                    .profile__avatar
                        img(src='/images/profileIcon.png')
                    .profile__username= user.username
                .profile__secondary-user-details
                    .profile__bio
                        .profile__heading Bio 
                        p.profile__body= user.bio
                    .profile__keywords
                        .profile__heading Favorite Keywords
                        p.profile__body= user.keywords.join(' | ')
                    
                    if isMainUser
                        .profile__edit
                            button.profile__edit-button Edit Profile
                if isMainUser
                    form.profile-form.-hidden(
                        action=`/users/${mainUser.username}`
                        method='post' 
                        enctype='multipart/form-data'
                    )
                        +formInput(
                            'profile-pic',
                            'file',
                            '',
                            profilePicErrors
                        )
                        +formInput(
                            'username',
                            'text',
                            inputs.username || '',
                            usernameErrors
                        )
                        +formTextarea(
                            'bio',
                            inputs.bio || '',
                            bioErrors
                        )(
                            textarea={
                                'rows': '5'
                            }
                        )
                        +formTextarea(
                            'keywords',
                            inputs.keywords || '',
                            keywordErrors
                        )(
                            textarea={
                                'rows': '2'
                            }
                        )
                        .profile-form__buttons
                            button.profile-form__submit(
                                type='submit'
                            ) Submit
                            button.profile-form__cancel(
                                type='button'
                            ) Cancel

            .profile__author-browser-details
                .profile__browser-details
                    .profile__heading Recent Reads
                    .profile__body
                        +iconLinkList(
                            {
                                'icon': '/images/profileIcon.png',
                                'href': `#`,
                                'label': 'Blog 1' 
                            },
                            {
                                'icon': '/images/profileIcon.png',
                                'href': `#`,
                                'label': 'Blog 2' 
                            }
                        )
                if user.blogs_written.length
                    .profile__author-details
                        - let heading = `Blogs Written by ${user.username}`
                        
                        if isMainUser
                            - heading = 'Blogs Written by You'
                        
                        .profile__heading= heading
                        .profile__body
                            +iconLinkList(
                                {
                                    'icon': '/images/profileIcon.png',
                                    'href': `#`,
                                    'label': 'Blog 1' 
                                },
                                {
                                    'icon': '/images/profileIcon.png',
                                    'href': `#`,
                                    'label': 'Blog 2' 
                                }
                            )